/* 默认主题变量定义 */
:root {
  --bg-color   : #ffffff;
  --text-color : #1a1a1a;
  --el-bg-color: #f5f5f5;
  --color:#333333;
  --el-menu-border-color:none;
  --el-menu-text-color:#333333;
  --el-menu-bg-color:#ffffff;
  --el-menu-active-color:#00CE7A;
  --el-border-color-light:#e0e0e0;
}

/* 暗黑主题 */
.theme-dark {
  --bg-color  : #1e1e1e;
  --text-color: #f2f2f2;
}

/* 蓝色主题 */
.theme-blue {
  --bg-color  : #007bff;
  --text-color: yellow;
}

/* 绿色主题 */
.theme-green {
  --bg-color  : #6aa728;
  --text-color: #000000;
}